* text=auto eol=lf
*.env -linguist-detectable
*.json -linguist-detectable
*.json5 -linguist-detectable
*.hcl linguist-detectable linguist-language=HCL
*.md -linguist-detectable
*.sh -linguist-detectable
*.toml -linguist-detectable
*.yml -linguist-detectable
*.yaml -linguist-detectable
*.yaml.j2 -linguist-detectable
justfile linguist-detectable linguist-language=JUST
.justfile linguist-detectable linguist-language=JUST
*.just linguist-detectable linguist-language=JUST
